<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
</head>
<body>
    <div>
        <h2 style="margin-bottom: 1rem;">Create Account</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Register</button>
        </form>
        <div>
            <p>Already have an account? <a href="{% url 'index' %}">Login</a></p>
        </div>
    </div>

    <script>
        {% if messages %}
            {% for message in messages %}
                alert('{{ message }}');
            {% endfor %}
        {% endif %}
    </script>
</body>
</html>